/* Created by Artisteer v4.3.0.60745 */

.header, #header-bg, .layout-cell, .layout-wrapper, .footer, .nav, #hmenu-bg, .sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#header-bg 
{
   display: none;
}

.content-layout, .content-layout-row, .layout-cell 
{
   display: block;
   zoom: 1;
}
.layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.vmenu, ul.vmenu ul, ul.vmenu li{
   zoom: 1;
}

ul.vmenu ul 
{
   background-color: #FFFFFF;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.search div>input[type="text"]
{
   width: 100%;
}

* html form.search>input[type="text"] 
{
   margin :0;
}

form.search
{
   zoom: 1;
}
.postmetadataheader{
   zoom:1;
}

.postheadericons span{
   zoom: 1;
}
.postcontent {
   height: 1%;
}

.postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.sidebar1
{
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='sidebar1-bg' + (className.indexOf('sidebar1-fix') == -1 ? '' : ' sidebar1-bg-fix' ));
}

.sidebar1-bg 
{
   border-right:3px solid #23B8E5;
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 20%;
   overflow:hidden;
   display:block;
}

.content 
{
   width: auto;
   float:none;
}

